#first {
    border: 1em solid black;
    width: 30em;
    height: auto;

}
#welcome {
    color: blueviolet;
    padding: 9em;
    background-image: url(penguins.jpg);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: rgb(19, 19, 48);
    margin: 10em;
    text-align: center;
}