#first {
  border: 1em solid red;
  width: 50em;
  height: auto;
  animation-name: allpictures;
  animation-duration: 20s;
  animation-name: rotation;
  animation-duration: 2s;
}
#welcome {
  color: blueviolet;
  padding: 1em;
  background-image: url(wall.jpg);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
  background-image: url(wall.jpg);
  margin: 10em;
  text-align: center;
}
#secondpicture {
  border: 1em solid pink;
  width: 20em;
  height: auto;
}
#firstlink {
  text-align: center;
  color: aqua;
}
#firstlink:hover {
  transform: rotate(90deg);
  transition: transform 1s ease;
}
@keyframes allpictures {
  from {
    border-color: red;
  }
  to {
    border-color: yellow;
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
welcome:hover from {
  color: blueviolet;
}
welcome:hover to {
  color: antiquewhite;
}
